# Testing Notebook

## Constant

In [1]:
class Sun:
    """
    Class to provide solar constants:
    
    mass -> kg
    radius -> m
    logg -> dex
    luminosity -> W
    large separation -> c/d
    Teff -> K
    Z -> dex
    """
    mass = 1.9885*10**30 #kg
    radius = 695700*10**3 #m
    logg = 2.43775056 #dex
    lum = 3.828*10**26 #W
    teff = 5772 #K
    delta_nu = 11.64672 #c/d

In [3]:
Sun.radius

695700000

In [4]:
11.64672*1000000/(24*3600)

134.8

## Freq_analysis

In [ ]:
import pandas as pd
import itertools as it
import numpy as np

def harmonic_check(freqs:pd.DataFrame, n:int, freqs_to_combine:int, err:float) -> pd.DataFrame:
    """
    Function to find the harmonics 

    Parameters
    ----------

    freqs: pd.DataFrame
        Frequencies to evaluate in a DataFrame containing an amplitude column.
    
    n: int
        Maximum harmonic to find, from -n..., 0, ..., n
    
    freqs_to_combine: int
        Determines how many frequencies will be used to compute the harmonics.
        For instance, if freqs_to_combine = 3:

        f = n_i·f_1+ n_j·f_2+n_k·f_3 with n_i,j,k from -n to n.

    err: float
        Tolerance to consider a harmonic and a frequency the same frequency.

    Output
    ------

    Dataframe containing the original frequencies and the harmonic combination found.

    """

    # 1. All n values
    n_values = range(-n, n+1)

    # 2. Getting the frequencies that will serve as base of the harmonics
    columns = freqs.columns
    freqs_sorted = freqs.sort_values(by=columns[1], ascending=False).reset_index(drop=True)
    f_base = list(freqs_sorted.iloc[:freqs_to_combine, 0])

    # 3. Computing all the combinations of coefficient n possible
    n_combis = list(it.product(n_values, repeat=freqs_to_combine))

    # 3.1 Removing from the set all the combinations that have negative signs (frequencies are positive)
    n_combis = [combi for combi in n_combis if not all(x < 0 for x in combi)]

    # 4. Computing all the possible combinations
    

    return list(n_combis)

In [34]:
freqs = {'Freqs': [2, 4, 7, 9, 20], 'Amps': [13, 45, 6, 7, 2]}

freqs_df = pd.DataFrame(data=freqs)
freqs_df

   Freqs  Amps
0      2    13
1      4    45
2      7     6
3      9     7
4     20     2

In [37]:
test = harmonic_check(freqs=freqs_df, n=3, freqs_to_combine=2, err=0)
test

[(-3, 0),
 (-3, 1),
 (-3, 2),
 (-3, 3),
 (-2, 0),
 (-2, 1),
 (-2, 2),
 (-2, 3),
 (-1, 0),
 (-1, 1),
 (-1, 2),
 (-1, 3),
 (0, -3),
 (0, -2),
 (0, -1),
 (0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, -3),
 (1, -2),
 (1, -1),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, -3),
 (2, -2),
 (2, -1),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, -3),
 (3, -2),
 (3, -1),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]